Repository flex-development/mlly: changes, and which Codecov flags are due for each by the changed paths.
All: node19, node18, node16, node14, internal, utils

.codecov.yml:

# CODECOV CONFIGURATION
# https://docs.codecov.com/docs/codecovyml-reference

---
codecov:
  notify:
    after_n_builds: 4
    wait_for_ci: true
  require_ci_to_pass: true

comment:
  after_n_builds: 4
  behavior: default
  layout: header,diff,flags,components,tree,footer
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true
  show_critical_paths: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: 100%
  individual_components:
    - component_id: internal
      name: internal
      paths:
        - src/internal/*.ts
    - component_id: utils
      name: utils
      paths:
        - src/utils/*.ts

coverage:
  precision: 2
  range: 90..100
  round: nearest
  status:
    changes:
      default:
        branches:
          - dependabot/*
          - feat/*
          - hotfix/*
          - main
          - release/*
        if_ci_failed: error
        if_not_found: success
        informational: false
        only_pulls: false
    patch:
      default:
        branches:
          - dependabot/*
          - feat/*
          - hotfix/*
          - main
          - release/*
        if_ci_failed: error
        if_not_found: success
        informational: false
        only_pulls: false
        target: 100%
        threshold: 0%
    project:
      default:
        branches:
          - dependabot/*
          - feat/*
          - hotfix/*
          - main
          - release/*
        if_ci_failed: error
        if_not_found: success
        informational: false
        only_pulls: false
        target: 100%
        threshold: 0%

flags:
  node19:
    carryforward: false
    paths:
      - src/
  node18:
    carryforward: false
    paths:
      - src/
  node16:
    carryforward: false
    paths:
      - src/
  node14:
    carryforward: false
    paths:
      - src/

github_checks:
  annotations: true

ignore:
  - '**/__mocks__/**'
  - '**/__tests__/**'
  - '**/index.ts'
  - src/interfaces/
  - src/types/

profiling:
  critical_files_paths:
    - src/utils/*.ts

ci(workflows): add `typescript-canary`
  .github/workflows/typescript-canary.yml
Due: none

feat(utils): `isRelativeSpecifier`
  src/utils/__tests__/is-relative-specifier.spec.ts
  src/utils/index.ts
  src/utils/is-relative-specifier.ts
Due: node19, node18, node16, node14, utils

feat(utils): `isAbsoluteSpecifier`
  src/utils/__tests__/is-absolute-specifier.spec.ts
  src/utils/index.ts
  src/utils/is-absolute-specifier.ts
Due: node19, node18, node16, node14, utils

feat(utils): `isBareSpecifier`
  src/utils/__tests__/is-bare-specifier.spec.ts
  src/utils/index.ts
  src/utils/is-bare-specifier.ts
Due: node19, node18, node16, node14, utils

feat(interfaces): `PackageScope`
  docs/.vitepress/theme/comments/link-replacements.json
  src/interfaces/__tests__/package-scope.spec-d.ts
  src/interfaces/index.ts
  src/interfaces/package-scope.ts
Due: none

feat(utils): `lookupPackageScope`
  docs/.vitepress/theme/comments/link-replacements.json
  src/utils/__tests__/lookup-package-scope.spec.ts
  src/utils/__tests__/read-package-json.spec.ts
  src/utils/index.ts
  src/utils/lookup-package-scope.ts
  src/utils/read-package-json.ts
Due: node19, node18, node16, node14, utils

ci(workflows): [`dependabot-auto`] sign lockfile fix commit
  .github/workflows/dependabot-auto.yml
Due: none

ci(workflows): [`add-to-project`] run workflow when pr is synchronized
  .github/workflows/add-to-project.yml
Due: none

feat(internal): `isArrayIndex`
  .cspell.json
  .eslintrc.base.cjs
  src/internal/__tests__/is-array-index.spec-d.ts
  src/internal/__tests__/is-array-index.spec.ts
  src/internal/is-array-index.ts
Due: node19, node18, node16, node14, internal

feat(types): `Format`
  src/types/__tests__/format.spec-d.ts
  src/types/format.ts
  src/types/index.ts
  typings/node/loader.d.ts
Due: none

build(deps): bump @flex-development/tutils from 6.0.0-alpha.7 to 6.0.0-alpha.9
  package.json
  yarn.lock
Due: none

build(deps): bump @flex-development/errnode from 1.2.0 to 1.3.0
  package.json
  yarn.lock
Due: none

chore: update project architecture
  .cspell.json
  .dictionary.txt
  .eslintignore
  .eslintrc.base.cjs
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .prettierignore
  .prettierrc.json
  __tests__/interfaces/index.ts
  __tests__/interfaces/vi-assertion-result.ts
  __tests__/interfaces/vi-test-result.ts
  __tests__/interfaces/vi-test-results.ts
  __tests__/matchers/index.ts
  __tests__/setup/setup.ts
  __tests__/setup/teardown.ts
  changelog.config.cts
  docs/.vitepress/theme/comments/plugin.ts
  docs/.vitepress/theme/index.ts
  loader.mjs
  typings/chai/global.d.ts
  typings/conventional-commits-parser/index.d.ts
  typings/node/loader.d.ts
  typings/node/module.d.ts
  vitest-env.d.ts
Due: none

ci: [@dependabot] update ignore list for npm ecosystem
  .github/dependabot.yml
Due: none

ci(yarn): fix typescript matrix testing
  package.json
  yarn.lock
Due: none

ci(workflows): [`typescript-canary`] print typescript version
  .github/workflows/typescript-canary.yml
Due: none

ci(workflows): [`typescript-canary`] run workflow daily
  .github/workflows/typescript-canary.yml
Due: none

ci(workflows): [`ci`] add `docs` job
  .github/workflows/ci.yml
  .github/workflows/preview.yml
Due: none

chore(github): add "typescript version" input to bug report template
  .github/ISSUE_TEMPLATE/bug.yml
Due: none

refactor(types)!: `MIMEType` -> `MimeType`
  docs/.vitepress/theme/comments/link-replacements.json
  src/types/__tests__/mime-type.spec-d.ts
  src/types/index.ts
  src/types/mime-type.ts
  src/utils/__tests__/to-data-url.spec.ts
  src/utils/to-data-url.ts
Due: node19, node18, node16, node14, utils

feat(types): `Protocol`
  docs/.vitepress/theme/comments/link-replacements.json
  src/types/__tests__/protocol.spec-d.ts
  src/types/index.ts
  src/types/protocol.ts
Due: none

feat(interfaces): `ParsedDataUrl`
  src/interfaces/__tests__/parsed-data-url.spec-d.ts
  src/interfaces/index.ts
  src/interfaces/parsed-data-url.ts
Due: none

refactor(internal): [`validateString`] convert to type guard
  src/internal/__tests__/validate-string.spec-d.ts
  src/internal/__tests__/validate-string.spec.ts
  src/internal/validate-string.ts
  src/utils/is-relative-specifier.ts
Due: node19, node18, node16, node14, internal, utils

feat(internal): `validateURLString`
  src/internal/__tests__/validate-url-string.spec-d.ts
  src/internal/__tests__/validate-url-string.spec.ts
  src/internal/validate-url-string.ts
  src/utils/read-package-json.ts
Due: node19, node18, node16, node14, internal, utils

refactor: move constants to `utils` dir
  __fixtures__/path-aliases.cts
  docs/.vitepress/composables/use-comments.ts
  docs/.vitepress/config.ts
  docs/.vitepress/theme/comments/link-replacements.json
  docs/api/constants.md
  src/constants.ts
  src/index.ts
  src/utils/__snapshots__/resolve-aliases.functional.snap
  src/utils/__snapshots__/resolve-modules.functional.snap
  src/utils/__tests__/conditions.spec.ts
  src/utils/__tests__/resolve-alias.spec.ts
  src/utils/__tests__/resolve-extensions.spec.ts
  src/utils/__tests__/resolve-module.spec.ts
  src/utils/__tests__/resolve-modules.functional.spec.ts
  src/utils/conditions.ts
  src/utils/index.ts
  src/utils/resolve-alias.ts
  src/utils/resolve-extensions.ts
  src/utils/resolve-module.ts
  src/utils/to-bare-specifier.ts
Due: node19, node18, node16, node14, utils

build(deps-dev): remove vitest patch
  __tests__/reporters/notifier.ts
  package.json
  patches/vitest+0.26.3.dev.patch
  vitest-env.d.ts
  vitest.config.ts
  yarn.lock
Due: none

feat(enums): `Format`
  docs/.vitepress/theme/comments/link-replacements.json
  src/enums/__tests__/format.spec-d.ts
  src/enums/format.ts
  src/enums/index.ts
  src/types/__tests__/format.spec-d.ts
  src/types/format.ts
  src/types/index.ts
  typings/node/loader.d.ts
Due: node19, node18, node16, node14

feat(enums): `AssertType`
  src/enums/__tests__/assert-type.spec-d.ts
  src/enums/assert-type.ts
  src/enums/index.ts
Due: node19, node18, node16, node14

feat(internal): `FORMAT_TYPE_MAP`
  src/internal/__tests__/format-type-map.spec.ts
  src/internal/format-type-map.ts
Due: node19, node18, node16, node14, internal

feat(utils): `toURL`
  .dictionary.txt
  docs/.vitepress/theme/comments/link-replacements.json
  src/utils/__tests__/lookup-package-scope.spec.ts
  src/utils/__tests__/to-url.spec.ts
  src/utils/index.ts
  src/utils/lookup-package-scope.ts
  src/utils/to-url.ts
Due: node19, node18, node16, node14, utils

feat(utils): `parseDataURL`
  .cspell.json
  .eslintrc.cjs
  docs/.vitepress/theme/comments/link-replacements.json
  src/utils/__tests__/parse-data-url.spec.ts
  src/utils/index.ts
  src/utils/parse-data-url.ts
Due: node19, node18, node16, node14, utils

feat(utils): `EXTENSION_FORMAT_MAP`
  docs/.vitepress/theme/comments/link-replacements.json
  src/utils/__tests__/extension-format-map.spec.ts
  src/utils/extension-format-map.ts
  src/utils/index.ts
Due: node19, node18, node16, node14, utils

feat(internal): `isFile`
  package.json
  src/internal/__tests__/is-file.spec.ts
  src/internal/is-file.ts
  src/utils/read-package-json.ts
Due: node19, node18, node16, node14, internal, utils

feat(interfaces): `GetFormatOptions`
  docs/.vitepress/theme/comments/link-replacements.json
  package.json
  src/interfaces/__tests__/options-get-format.spec-d.ts
  src/interfaces/index.ts
  src/interfaces/options-get-format.ts
  yarn.lock
Due: none

feat(utils): `getFormat`
  docs/.vitepress/theme/comments/link-replacements.json
  src/interfaces/__tests__/package-scope.spec-d.ts
  src/interfaces/package-scope.ts
  src/types/__tests__/mime-type.spec-d.ts
  src/types/mime-type.ts
  src/utils/__tests__/get-format.spec.ts
  src/utils/__tests__/lookup-package-scope.spec.ts
  src/utils/get-format.ts
  src/utils/index.ts
  src/utils/lookup-package-scope.ts
Due: node19, node18, node16, node14, utils

build(deps-peer): add `@types/node>=14.17.0`
  package.json
  yarn.lock
Due: none

feat(types): `ModuleId`
  docs/.vitepress/theme/comments/link-replacements.json
  src/interfaces/__tests__/options-get-format.spec-d.ts
  src/interfaces/__tests__/options-resolve.spec-d.ts
  src/interfaces/options-get-format.ts
  src/interfaces/options-resolve.ts
  src/internal/is-file.ts
  src/types/__tests__/module-id.spec-d.ts
  src/types/index.ts
  src/types/module-id.ts
  src/utils/get-format.ts
  src/utils/lookup-package-scope.ts
  src/utils/read-package-json.ts
  src/utils/to-absolute-specifier.ts
  src/utils/to-bare-specifier.ts
  src/utils/to-relative-specifier.ts
  src/utils/to-url.ts
Due: node19, node18, node16, node14, internal, utils

feat(interfaces): `GetSourceOptions`
  docs/.vitepress/theme/comments/link-replacements.json
  src/interfaces/__tests__/options-get-source.spec-d.ts
  src/interfaces/index.ts
  src/interfaces/options-get-source.ts
Due: none

feat(utils): `getSource`
  .dictionary.txt
  .eslintrc.base.cjs
  Brewfile
  __fixtures__/add.wasm
  __fixtures__/add.wat
  docs/.vitepress/theme/comments/link-replacements.json
  src/utils/__tests__/get-source.spec.ts
  src/utils/get-source.ts
  src/utils/index.ts
Due: node19, node18, node16, node14, utils

feat(interfaces): `ImportAssertions`
  docs/.vitepress/theme/comments/link-replacements.json
  src/interfaces/__tests__/import-assertions.spec-d.ts
  src/interfaces/import-assertions.ts
  src/interfaces/index.ts
Due: none
