Repository flex-development/mlly: changes, and which Codecov flags are due for each by the changed paths.
All: node19, node18, node16, node14, internal, utils

release: 1.0.0-alpha.17
  CHANGELOG.md
  package.json
Due: none

release: 1.0.0-alpha.17 (#402)
  CHANGELOG.md
  package.json
Due: none

build(ts)!: use `export type *`
  build.config.ts
  src/index.ts
Due: none

chore(tests): remove `serve.json`
  __tests__/serve.json
Due: none

ci: [@dependabot] add group `flex-development`
  .github/dependabot.yml
Due: none

build(deps): bump @flex-development/tutils from 6.0.0-alpha.20 to 6.0.0-alpha.21
  package.json
  yarn.lock
Due: none

docs(utils): [`resolveModule`] fix valid npm package name note
  src/utils/resolve-module.ts
Due: node19, node18, node16, node14, utils

fix(utils): [`toBareSpecifier`] specifier conversion
  src/utils/to-bare-specifier.ts
Due: node19, node18, node16, node14, utils

release: 1.0.0-alpha.18
  .github/workflows/ci.yml
  CHANGELOG.md
  package.json
Due: none

release: 1.0.0-alpha.18 (#418)
  .github/workflows/ci.yml
  CHANGELOG.md
  package.json
Due: none

fix(utils): [`isFile`] convert file url strings to `URL` instances
  src/utils/__tests__/is-file.spec.ts
  src/utils/is-file.ts
Due: node19, node18, node16, node14, utils

fix(utils): [`isDirectory`] convert file url strings to `URL` instances
  src/utils/__tests__/is-directory.spec.ts
  src/utils/is-directory.ts
Due: node19, node18, node16, node14, utils

refactor(utils): use native `fetch`
  build.config.ts
  docs/.vitepress/theme/comments/link-replacements.json
  package.json
  src/interfaces/__tests__/options-get-format.spec-d.ts
  src/interfaces/__tests__/options-get-source.spec-d.ts
  src/interfaces/options-get-format.ts
  src/interfaces/options-get-source.ts
  src/utils/get-format.ts
  src/utils/get-source.ts
  yarn.lock
Due: node19, node18, node16, node14, utils

build(yarn): bump yarn from 4.5.0 to 4.5.1
  .yarn/releases/yarn-4.5.0.cjs
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  package.json
Due: none

chore: refactor project architecture
  .codecov.yml
  .cspell.json
  .dictionary.txt
  .dprint.jsonc
  .github/infrastructure.yml
  .github/workflows/ci.yml
  .husky/pre-commit
  .lintstagedrc.json
  .nvmrc
  .remarkrc.mjs
  .vscode/settings.json
  .yarnrc.yml
  CONTRIBUTING.md
  build.config.mts
  dprint/prettier.mts
  dprint/remark.mts
  dprint/shfmt.mts
  eslint.base.config.mjs
  package.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.typecheck.json
  vitest-env.d.mts
  vitest.config.mts
  yarn.lock
Due: none

build(deps): bump @flex-development/is-builtin from 3.1.0 to 3.2.0
  .github/workflows/ci.yml
  package.json
  yarn.lock
Due: none

build(deps-dev): bump the vitest group with 3 updates
  package.json
  tsconfig.typecheck.json
  yarn.lock
Due: none

feat(utils): `getSource`
  .cspell.json
  README.md
  eslint.base.config.mjs
  package.json
  src/__snapshots__/index.e2e.snap
  src/interfaces/__tests__/context-get-source.spec-d.mts
  src/interfaces/__tests__/options-get-source.spec-d.mts
  src/interfaces/__tests__/protocol-map.spec-d.mts
  src/interfaces/context-get-source.mts
  src/interfaces/index.mts
  src/interfaces/options-get-source.mts
  src/interfaces/protocol-map.mts
  src/internal/fs.browser.mts
  src/internal/process.browser.mts
  src/internal/process.d.mts
  src/lib/__snapshots__/get-source.snap
  src/lib/__tests__/get-source.spec.mts
  src/lib/can-parse-url.mts
  src/lib/get-source.mts
  src/lib/index.mts
  src/types/__tests__/awaitable.spec-d.mts
  src/types/__tests__/get-source-handler.spec-d.mts
  src/types/__tests__/get-source-handlers.spec-d.mts
  src/types/__tests__/protocol.spec-d.mts
  src/types/awaitable.mts
  src/types/get-source-handler.mts
  src/types/get-source-handlers.mts
  src/types/index.mts
  src/types/protocol.mts
  tsconfig.build.json
  tsconfig.json
  tsconfig.typecheck.json
  typings/node/process.d.ts
Due: node19, node18, node16, node14

refactor: async api
  build/make.mts
  package.json
  src/interfaces/__tests__/file-system.spec-d.mts
  src/interfaces/file-system.mts
  src/internal/fs.browser.mts
  src/lib/__snapshots__/resolve-module.snap
  src/lib/__snapshots__/resolver.snap
  src/lib/__tests__/is-directory.spec.mts
  src/lib/__tests__/is-file.spec.mts
  src/lib/__tests__/lookup-package-scope.spec.mts
  src/lib/__tests__/read-package-json.spec.mts
  src/lib/__tests__/resolve-module.spec.mts
  src/lib/__tests__/resolver.spec.mts
  src/lib/get-source.mts
  src/lib/is-directory.mts
  src/lib/is-file.mts
  src/lib/lookup-package-scope.mts
  src/lib/read-package-json.mts
  src/lib/resolve-module.mts
  src/lib/resolver.mts
Due: node19, node18, node16, node14

feat(lib): `toUrl`
  README.md
  src/__snapshots__/index.e2e.snap
  src/lib/__snapshots__/to-url.snap
  src/lib/__tests__/to-url.spec.mts
  src/lib/get-source.mts
  src/lib/index.mts
  src/lib/resolver.mts
  src/lib/to-relative-specifier.mts
  src/lib/to-url.mts
Due: node19, node18, node16, node14

chore: [tsconfig] extend `@tsconfig/strictest/tsconfig`
  package.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.typecheck.json
  yarn.lock
Due: none

feat: empty subpath pattern matches
  __fixtures__/tsconfig.json
  __fixtures__/tsconfig.json.d.mts
  package.json
  src/internal/invalid-subpath.mts
  src/lib/__snapshots__/pattern-match.snap
  src/lib/__snapshots__/resolver.snap
  src/lib/__tests__/pattern-match.spec.mts
  src/lib/__tests__/resolver.spec.mts
  src/lib/pattern-match.mts
  src/lib/resolver.mts
Due: node19, node18, node16, node14

build(deps-dev): bump typescript from 5.7.0-beta to 5.7.1-rc
  .github/infrastructure.yml
  package.json
  yarn.lock
Due: none

build(deps-dev): bump the vitest group from 2.1.5 to 3.0.0-beta.2
  __tests__/reporters/notifier.mts
  __tests__/reporters/verbose.mts
  package.json
  tsconfig.typecheck.json
  vitest.config.mts
  yarn.lock
Due: none

ci(workflows): [`ci`] fix `gitguardian` job
  .dictionary.txt
  .github/workflows/ci.yml
Due: none

ci(workflows): [`ci`] fix coverage failure check
  .github/workflows/ci.yml
Due: none

build(deps): bump @flex-development/pathe from 3.0.0 to 4.0.0
  package.json
  src/lib/resolver.mts
  yarn.lock
Due: node19, node18, node16, node14

build(deps-dev): bump typescript from 5.7.1-rc to 5.7.2
  .github/infrastructure.yml
  package.json
  yarn.lock
Due: none

refactor(lib): `toRelativeSpecifier`
  package.json
  src/lib/__snapshots__/to-relative-specifier.snap
  src/lib/__tests__/to-relative-specifier.spec.mts
  src/lib/to-relative-specifier.mts
Due: node19, node18, node16, node14

feat(lib)!: [`resolver`] synchronous methods
  README.md
  __tests__/reporters/verbose.mts
  package.json
  src/__snapshots__/index.e2e.snap
  src/interfaces/__tests__/file-system.spec-d.mts
  src/interfaces/file-system.mts
  src/internal/fs.browser.mts
  src/lib/__snapshots__/resolve-module.snap
  src/lib/__snapshots__/resolver.snap
  src/lib/__tests__/is-directory.spec.mts
  src/lib/__tests__/is-file.spec.mts
  src/lib/__tests__/resolver.spec.mts
  src/lib/get-source.mts
  src/lib/is-directory.mts
  src/lib/is-file.mts
  src/lib/lookup-package-scope.mts
  src/lib/read-package-json.mts
  src/lib/resolver.mts
Due: node19, node18, node16, node14

feat(lib)!: [`resolver`] synchronous methods
  README.md
  __tests__/reporters/verbose.mts
  build/make.mts
  package.json
  src/__snapshots__/index.e2e.snap
  src/interfaces/__tests__/file-system.spec-d.mts
  src/interfaces/file-system.mts
  src/internal/fs.browser.mts
  src/lib/__snapshots__/resolve-module.snap
  src/lib/__snapshots__/resolver.snap
  src/lib/__tests__/is-directory.spec.mts
  src/lib/__tests__/is-file.spec.mts
  src/lib/__tests__/lookup-package-scope.spec.mts
  src/lib/__tests__/read-package-json.spec.mts
  src/lib/__tests__/resolver.spec.mts
  src/lib/get-source.mts
  src/lib/is-directory.mts
  src/lib/is-file.mts
  src/lib/lookup-package-scope.mts
  src/lib/read-package-json.mts
  src/lib/resolver.mts
Due: node19, node18, node16, node14

build(deps-dev): bump the typescript-eslint group from 8.18.1 to 8.18.3-alpha.5
  package.json
  yarn.lock
Due: none

ci(workflows): [`ci`] test on node version 21
  .codecov.yml
  .github/infrastructure.yml
  .github/workflows/ci.yml
Due: none

refactor(resolver): [`packageTargetResolve`] use `Promise.all`
  .commitlintrc.ts
  src/lib/resolver.mts
Due: node19, node18, node16, node14

Path conditions:
  node19: any of: src/, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, src/interfaces/, src/types/
  node18: any of: src/, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, src/interfaces/, src/types/
  node16: any of: src/, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, src/interfaces/, src/types/
  node14: any of: src/, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, src/interfaces/, src/types/
  internal: any of: src/internal/*.ts, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, src/interfaces/, src/types/
  utils: any of: src/utils/*.ts, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, src/interfaces/, src/types/
