Repository flex-development/mlly: changes, and which Codecov flags are due for each by the changed paths.
All: node19, node18, node16, node14, internal, utils

docs: [site] fix `@link` and `@linkcode` tag replacements
  docs/.vitepress/theme/comments/compiler.ts
  docs/.vitepress/theme/comments/link-replacements.json
Due: none

chore(pkg): update keywords
  package.json
Due: none

build: output `.d.mts` and `.mjs` files separately
  build.config.ts
Due: none

docs: [site] update vercel install command
  vercel.json
Due: none

docs: [site] update homepage
  docs/index.md
Due: none

docs: [site] show title-only "throws" sections
  docs/.vitepress/theme/comments/compiler.ts
Due: none

refactor(enums): `SyntaxKind` -> `StatementSyntaxKind`
  docs/.vitepress/theme/comments/link-replacements.json
  src/enums/__tests__/kind-statement-syntax.spec-d.ts
  src/enums/index.ts
  src/enums/kind-statement-syntax.ts
  src/interfaces/__tests__/import-dynamic.spec-d.ts
  src/interfaces/__tests__/import-static.spec-d.ts
  src/interfaces/__tests__/statement.spec-d.ts
  src/interfaces/import-dynamic.ts
  src/interfaces/import-static.ts
  src/interfaces/statement.ts
  src/types/__tests__/syntax-kind-export.spec-d.ts
  src/types/__tests__/syntax-kind-import.spec-d.ts
  src/types/__tests__/syntax-kind-require.spec-d.ts
  src/types/syntax-kind-export.ts
  src/types/syntax-kind-import.ts
  src/types/syntax-kind-require.ts
  src/utils/find-dynamic-imports.ts
  src/utils/find-exports.ts
  src/utils/find-requires.ts
  src/utils/find-static-imports.ts
Due: node19, node18, node16, node14, utils

refactor(enums): `SpecifierKind` -> `SpecifierSyntaxKind`
  docs/.vitepress/theme/comments/link-replacements.json
  src/enums/__tests__/kind-specifier-syntax.spec-d.ts
  src/enums/index.ts
  src/enums/kind-specifier-syntax.ts
  src/enums/kind-specifier.ts
  src/interfaces/__tests__/statement-import.spec-d.ts
  src/interfaces/__tests__/statement-require.spec-d.ts
  src/interfaces/__tests__/statement.spec-d.ts
  src/interfaces/statement.ts
  src/utils/__tests__/fill-modules.spec.ts
  src/utils/fill-modules.ts
  src/utils/find-dynamic-imports.ts
  src/utils/find-exports.ts
  src/utils/find-requires.ts
  src/utils/find-static-imports.ts
  src/utils/resolve-modules.ts
Due: node19, node18, node16, node14, utils

refactor(interfaces): [`Statement`] `specifier_kind` -> `specifier_syntax`
  src/interfaces/__tests__/statement-import.spec-d.ts
  src/interfaces/__tests__/statement-require.spec-d.ts
  src/interfaces/__tests__/statement.spec-d.ts
  src/interfaces/statement-import.ts
  src/interfaces/statement-require.ts
  src/interfaces/statement.ts
  src/utils/__snapshots__/find-dynamic-imports.snap
  src/utils/__snapshots__/find-exports.snap
  src/utils/__snapshots__/find-requires.snap
  src/utils/__snapshots__/find-static-imports.snap
  src/utils/fill-modules.ts
  src/utils/find-dynamic-imports.ts
  src/utils/find-exports.ts
  src/utils/find-requires.ts
  src/utils/find-static-imports.ts
  src/utils/resolve-modules.ts
Due: node19, node18, node16, node14, utils

feat(enums): `SpecifierKind`
  src/enums/__tests__/kind-specifier.spec-d.ts
  src/enums/index.ts
  src/enums/kind-specifier.ts
Due: node19, node18, node16, node14

feat(internal): `getSpecifierKind`
  src/internal/__tests__/get-specifier-kind.spec.ts
  src/internal/get-specifier-kind.ts
Due: node19, node18, node16, node14, internal

feat(interfaces): `Statement#specifier_kind`
  src/enums/kind-specifier-syntax.ts
  src/enums/kind-specifier.ts
  src/interfaces/__tests__/statement.spec-d.ts
  src/interfaces/statement.ts
  src/utils/__snapshots__/find-dynamic-imports.snap
  src/utils/__snapshots__/find-exports.snap
  src/utils/__snapshots__/find-requires.snap
  src/utils/__snapshots__/find-static-imports.snap
  src/utils/__tests__/find-dynamic-imports.spec.ts
  src/utils/find-dynamic-imports.ts
  src/utils/find-exports.ts
  src/utils/find-requires.ts
  src/utils/find-static-imports.ts
Due: node19, node18, node16, node14, utils

feat(internal): `validateBoolean`
  src/internal/__tests__/validate-boolean.spec-d.ts
  src/internal/__tests__/validate-boolean.spec.ts
  src/internal/validate-boolean.ts
Due: node19, node18, node16, node14, internal

feat(internal): `validateObject`
  src/internal/__tests__/validate-object.spec-d.ts
  src/internal/__tests__/validate-object.spec.ts
  src/internal/validate-object.ts
Due: node19, node18, node16, node14, internal

feat(internal): `validateSet`
  src/internal/__tests__/validate-set.spec-d.ts
  src/internal/__tests__/validate-set.spec.ts
  src/internal/validate-set.ts
Due: node19, node18, node16, node14, internal

refactor(utils): `resolveAlias`
  .eslintrc.cjs
  __fixtures__/path-aliases.cts
  package.json
  src/interfaces/__tests__/options-resolve-alias.spec-d.ts
  src/interfaces/__tests__/options-resolve-module.spec-d.ts
  src/interfaces/options-resolve-alias.ts
  src/interfaces/options-resolve-module.ts
  src/internal/__mocks__/.gitkeep
  src/internal/__mocks__/get-compiler-options.ts
  src/internal/__tests__/get-compiler-options.spec.ts
  src/internal/get-compiler-options.ts
  src/utils/__snapshots__/resolve-aliases.snap
  src/utils/__tests__/resolve-alias.functional.spec.ts
  src/utils/__tests__/resolve-alias.spec.ts
  src/utils/__tests__/resolve-aliases.functional.spec.ts
  src/utils/__tests__/resolve-aliases.spec.ts
  src/utils/__tests__/to-bare-specifier.spec.ts
  src/utils/find-subpath.ts
  src/utils/is-bare-specifier.ts
  src/utils/parse-module-id.ts
  src/utils/read-package-json.ts
  src/utils/resolve-alias.ts
  src/utils/resolve-aliases.ts
  src/utils/resolve-module.ts
  src/utils/to-bare-specifier.ts
  yarn.lock
Due: node19, node18, node16, node14, internal, utils

fix(ts): `Type '{ '.' Exports | undefined; }' is not assignable to type 'Exports | undefined'`
  src/internal/resolver.ts
Due: node19, node18, node16, node14, internal

build(deps-dev): bump deps according to `yarn upgrade-interactive`
  .cspell.json
  .eslintignore
  .gitignore
  .prettierignore
  package.json
  yarn.lock
Due: none

ci(workflows): [`integrity`] update `pull_request` event activity types
  .github/workflows/integrity.yml
Due: none

refactor(esm): improve loaders compatibility
  __mocks__/tsconfig-paths/index.ts
  __mocks__/tsconfig-paths/lib/tsconfig-loader.ts
  src/interfaces/__tests__/options-resolve-module.spec-d.ts
  src/interfaces/options-resolve-module.ts
  src/utils/__tests__/get-source.spec.ts
  src/utils/fill-modules.ts
  src/utils/get-source.ts
  src/utils/resolve-alias.ts
  src/utils/resolve-module.ts
Due: node19, node18, node16, node14, utils

ci(workflows): [`approve-pr`] add debug step
  .github/workflows/approve-pr.yml
Due: none

chore(esm): use package in custom loader
  loader.mjs
  package.json
  tsconfig.json
  typings/@flex-development/mlly/index.d.mts
  yarn.lock
Due: none

fix(utils): specifier replacement
  src/utils/resolve-aliases.ts
  src/utils/resolve-modules.ts
Due: node19, node18, node16, node14, utils

chore(esm): use package in custom loader
  .cspell.json
  .github/workflows/release.yml
  .gitignore
  .markdownlintignore
  .vscode/settings.json
  CONTRIBUTING.md
  changelog.config.cts
  changelog.config.ts
  loader.mjs
  package.json
  tsconfig.json
  typings/@flex-development/mlly/index.d.mts
  typings/add-stream/index.d.ts
  typings/conventional-changelog-cli/index.d.ts
  typings/conventional-changelog-writer/index.d.ts
  typings/conventional-commits-parser/index.d.ts
  yarn.lock
Due: none

ci(deps): bump actions/setup-node from 3.5.1 to 3.6.0
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/typescript-canary.yml
Due: none

ci(deps): bump actions/checkout from 3.2.0 to 3.3.0
  .github/workflows/approve-pr.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto.yml
  .github/workflows/integrity.yml
  .github/workflows/label-linked-issues.yml
  .github/workflows/labels.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/typescript-canary.yml
Due: none

ci(deps): bump actions/upload-artifact from 3.1.1 to 3.1.2
  .github/workflows/ci.yml
Due: none

ci(deps): bump actions/cache from 3.2.2 to 3.2.3
  .github/workflows/ci.yml
Due: none

ci(deps): bump dependabot/fetch-metadata from 1.3.5 to 1.3.6
  .github/workflows/approve-pr.yml
  .github/workflows/dependabot-auto.yml
Due: none

ci(workflows): [`approve-pr`] refactor approval step conditional
  .github/workflows/approve-pr.yml
Due: none

ci(workflows): [`ci`] skip workflow run for @dependabot on `push`
  .github/workflows/ci.yml
Due: none

release: 1.0.0-alpha.7
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  package.json
Due: none

release: 1.0.0-alpha.7 (#75)
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  package.json
Due: none

chore(vscode): add todo tree settings to `settings.json`
  .vscode/settings.json
Due: none

chore(vscode): remove stale `volar` settings
  .vscode/settings.json
Due: none

chore(spelling): add "infile" to dictionary
  .dictionary.txt
Due: none

chore(github): add commit scope `spelling`
  .commitlintrc.json
Due: none

style(loader): add constant `cwd`
  loader.mjs
Due: none

chore(github): add commit scope `loader`
  .commitlintrc.json
Due: none

chore(github): add commit scope `nvm`
  .commitlintrc.json
Due: none

Path conditions:
  node19: any of: src/, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, src/interfaces/, src/types/
  node18: any of: src/, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, src/interfaces/, src/types/
  node16: any of: src/, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, src/interfaces/, src/types/
  node14: any of: src/, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, src/interfaces/, src/types/
  internal: any of: src/internal/*.ts, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, src/interfaces/, src/types/
  utils: any of: src/utils/*.ts, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, src/interfaces/, src/types/
