Repository flex-development/mlly: changes, and which Codecov flags are due for each by the changed paths.
All: node19, node18, node16, node14, internal, utils

build(ts): update file exclusion list
  tsconfig.build.json
Due: none

build(nvm): bump node from 16 to 19
  .nvmrc
Due: none

ci(workflows): [`ci`] refactor `metadata` job conditional
  .github/workflows/ci.yml
Due: none

chore(tests): [mocks] remove `@flex-development/pathe`
  __mocks__/.gitkeep
  __mocks__/@flex-development/pathe.ts
Due: none

style: replace `node:path` with `@flex-development/pathe`
  docs/.vitepress/composables/use-comments.ts
  docs/.vitepress/config.ts
  docs/.vitepress/theme/comments/markdown-renderer.ts
  src/utils/__tests__/detect-syntax.spec.ts
  vitest.config.ts
Due: none

chore(yarn): disable transparent workspaces
  .yarnrc.yml
  yarn.lock
Due: none

build(deps): bump @flex-development/is-builtin from 1.0.1 to 2.0.0
  package.json
  src/internal/resolver.ts
  src/utils/__tests__/resolve-modules.spec.ts
  src/utils/get-format.ts
  src/utils/parse-module-id.ts
  src/utils/resolve-module.ts
  src/utils/to-bare-specifier.ts
  yarn.lock
Due: node19, node18, node16, node14, internal, utils

build(deps-dev): bump eslint from 8.32.0 to 8.33.0
  package.json
  yarn.lock
Due: none

build(deps-dev): cleanup changelog deps
  package.json
  yarn.lock
Due: none

release: 1.0.0-alpha.8
  CHANGELOG.md
  package.json
  scripts/release.sh
Due: none

release: 1.0.0-alpha.8 (#80)
  CHANGELOG.md
  package.json
  scripts/release.sh
Due: none

chore(github): remove `git@bitbucket.org` alias from sample `.gitconfig`
  .github/.gitconfig
  .prettierrc.json
Due: none

chore(github): update `.env` rule in `.gitignore`
  .gitignore
  .prettierrc.json
Due: none

chore(github): cleanup reference link in `.github/funding.yml`
  .github/funding.yml
Due: none

chore: [eslint] update rules for test files
  .eslintrc.base.cjs
Due: none

build(deps-dev): bump @types/node from 16.18.11 to 18.11.18
  .github/dependabot.yml
  package.json
  yarn.lock
Due: none

fix(resolve): unhoisted package resolution
  .github/dependabot.yml
  .yarnrc.yml
  __fixtures__/package.json
  package.json
  src/internal/__tests__/resolver.spec.ts
  src/internal/resolver.ts
  src/utils/__tests__/get-format.spec.ts
  src/utils/__tests__/lookup-package-scope.spec.ts
  src/utils/__tests__/to-bare-specifier.spec.ts
  src/utils/lookup-package-scope.ts
  yarn.lock
Due: node19, node18, node16, node14, internal, utils

ci(workflows): [`ci`] add `gitguardian` job
  .github/workflows/ci.yml
Due: none

release: 1.0.0-alpha.9
  CHANGELOG.md
  package.json
Due: none

release: 1.0.0-alpha.9 (#98)
  CHANGELOG.md
  package.json
Due: none

ci(deps): bump GitGuardian/ggshield-action from 1.1.0 to master
  .github/workflows/ci.yml
Due: none

docs(loader): fix jsdoc annotations
  loader.mjs
Due: none

docs(loader): update descriptions and reference links
  loader.mjs
Due: none

style(utils): [`toBareSpecifier`] fix typo in comment
  src/utils/to-bare-specifier.ts
Due: node19, node18, node16, node14, utils

fix(utils): [`toBareSpecifier`] package directory regex
  src/utils/to-bare-specifier.ts
Due: node19, node18, node16, node14, utils

build(pkg): include `src` files in distribution
  package.json
  src/.npmignore
Due: node19, node18, node16, node14

fix(utils): [`fillModules`] specifier replacement
  src/utils/fill-modules.ts
Due: node19, node18, node16, node14, utils

release: 1.0.0-alpha.10
  CHANGELOG.md
  package.json
Due: none

release: 1.0.0-alpha.10 (#121)
  CHANGELOG.md
  package.json
Due: none

fix(utils): [`fillModules`] `dot.case` specifier support
  src/utils/fill-modules.ts
Due: node19, node18, node16, node14, utils

release: 1.0.0-alpha.11
  CHANGELOG.md
  package.json
Due: none

release: 1.0.0-alpha.11 (#130)
  CHANGELOG.md
  package.json
Due: none

build(deps): bump @flex-development/tutils from 6.0.0-alpha.9 to 6.0.0-alpha.10
  package.json
  yarn.lock
Due: none

build(deps): bump @flex-development/errnode from 1.4.0 to 1.5.0
  package.json
  yarn.lock
Due: none

feat(internal): `invalidSegmentRegex`
  src/internal/__tests__/regex-invalid-segment.spec.ts
  src/internal/regex-invalid-segment.ts
  src/internal/resolver.ts
Due: node19, node18, node16, node14, internal

feat(internal): `validateArraySet`
  src/internal/__tests__/validate-array-set.spec-d.ts
  src/internal/__tests__/validate-array-set.spec.ts
  src/internal/validate-array-set.ts
  src/internal/validate-set.ts
  src/utils/resolve-alias.ts
Due: node19, node18, node16, node14, internal, utils

feat(internal): `validateMap`
  src/internal/__tests__/validate-map.spec-d.ts
  src/internal/__tests__/validate-map.spec.ts
  src/internal/validate-map.ts
Due: node19, node18, node16, node14, internal

build(deps-dev): bump @faker-js/faker from 7.6.0 to 8.0.0-alpha.0
  package.json
  src/internal/__tests__/is-array-index.spec.ts
  src/internal/__tests__/is-function.spec.ts
  src/internal/__tests__/resolver.spec.ts
  src/internal/__tests__/validate-boolean.spec.ts
  src/internal/__tests__/validate-object.spec.ts
  src/internal/__tests__/validate-string.spec.ts
  src/utils/__tests__/find-subpath.spec.ts
  src/utils/__tests__/is-exports-sugar.spec.ts
  src/utils/__tests__/validate-exports.spec.ts
  yarn.lock
Due: none

feat: `ParsedSubpath#target`
  __tests__/utils/get-package-json.ts
  loader.mjs
  src/interfaces/__tests__/options-parse-subpath.spec-d.ts
  src/interfaces/__tests__/parsed-subpath.spec-d.ts
  src/interfaces/options-parse-subpath.ts
  src/interfaces/parsed-subpath.ts
  src/utils/__tests__/parse-subpath.spec.ts
  src/utils/is-exports-sugar.ts
  src/utils/parse-module-id.ts
  src/utils/parse-subpath.ts
  tsconfig.json
  typings/@flex-development/mlly/index.d.mts
Due: node19, node18, node16, node14, utils

refactor(utils)!: [`getFormat`] enforce absolute module id
  src/interfaces/__tests__/options-get-format.spec-d.ts
  src/interfaces/options-get-format.ts
  src/utils/get-format.ts
Due: node19, node18, node16, node14, utils

Path conditions:
  node19: any of: src/, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, src/interfaces/, src/types/
  node18: any of: src/, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, src/interfaces/, src/types/
  node16: any of: src/, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, src/interfaces/, src/types/
  node14: any of: src/, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, src/interfaces/, src/types/
  internal: any of: src/internal/*.ts, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, src/interfaces/, src/types/
  utils: any of: src/utils/*.ts, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, src/interfaces/, src/types/
