Repository flex-development/mlly: changes, and which Codecov flags are due for each by the changed paths.
All: node23, node22, internal, lib

ci(workflows): [`ci`] test on node version 20
  .codecov.yml
  .github/infrastructure.yml
  .github/workflows/ci.yml
Due: none

docs: types
  README.md
  src/interfaces/__tests__/file-system.spec-d.mts
  src/interfaces/__tests__/get-source-context.spec-d.mts
  src/interfaces/__tests__/get-source-options.spec-d.mts
  src/interfaces/__tests__/is-directory.spec-d.mts
  src/interfaces/__tests__/is-file.spec-d.mts
  src/interfaces/__tests__/read-file.spec-d.mts
  src/interfaces/__tests__/realpath.spec-d.mts
  src/interfaces/__tests__/resolve-alias-options.spec-d.mts
  src/interfaces/__tests__/resolve-module-options.spec-d.mts
  src/interfaces/__tests__/stat.spec-d.mts
  src/interfaces/__tests__/stats.spec-d.mts
  src/interfaces/aliases.mts
  src/interfaces/file-system.mts
  src/interfaces/get-source-context.mts
  src/interfaces/get-source-options.mts
  src/interfaces/index.mts
  src/interfaces/is-directory.mts
  src/interfaces/is-file.mts
  src/interfaces/module-format-map.mts
  src/interfaces/pattern-key-comparison-map.mts
  src/interfaces/protocol-map.mts
  src/interfaces/read-file.mts
  src/interfaces/realpath.mts
  src/interfaces/resolve-alias-options.mts
  src/interfaces/resolve-module-options.mts
  src/interfaces/stat.mts
  src/interfaces/stats.mts
  src/types/module-id.mts
  src/types/pattern-key-comparison.mts
  src/types/protocol.mts
Due: none

docs: [api] constants
  README.md
  src/lib/default-extensions.mts
  src/lib/extension-format-map.mts
  src/lib/formats.mts
  src/lib/lookup-package-scope.mts
  src/types/__tests__/change-ext-fn.spec-d.mts
  src/types/__tests__/dot.spec-d.mts
  src/types/__tests__/ext.spec-d.mts
  src/types/dot.mts
  src/types/ext.mts
  src/types/index.mts
Due: node23, node22, lib

docs: [api] functions (not resolver methods)
  README.md
  src/lib/can-parse-url.mts
  src/lib/is-absolute-specifier.mts
  src/lib/is-bare-specifier.mts
  src/lib/is-imports-subpath.mts
  src/lib/is-module-id.mts
  src/lib/is-relative-specifier.mts
  src/lib/lookup-package-scope.mts
  src/lib/pattern-key-compare.mts
  src/lib/pattern-match.mts
  src/lib/read-package-json.mts
  src/lib/resolve-alias.mts
  src/lib/to-relative-specifier.mts
  src/lib/to-url.mts
Due: node23, node22, lib

docs: resolution algorithm (init)
  README.md
  docs/resolution-algorithm.md
  src/lib/lookup-package-scope.mts
  src/lib/pattern-key-compare.mts
  src/lib/read-package-json.mts
  src/lib/resolve-module.mts
  src/lib/resolver.mts
Due: node23, node22, lib

docs: [api] `legacyMainResolve`
  README.md
  src/lib/resolver.mts
Due: node23, node22, lib

docs: [api] `packageSelfResolve`
  README.md
  docs/resolution-algorithm.md
  src/lib/resolver.mts
Due: node23, node22, lib

docs: [api] `packageImportsResolve`
  README.md
  docs/resolution-algorithm.md
Due: none

docs: [api] `packageImportsExportsResolve`
  README.md
  docs/resolution-algorithm.md
Due: none

docs: [api] `packageExportsResolve`
  README.md
  docs/resolution-algorithm.md
  src/lib/resolver.mts
Due: node23, node22, lib

docs: [api] `packageResolve`
  README.md
  docs/resolution-algorithm.md
  src/lib/resolver.mts
Due: node23, node22, lib

docs: [api] `moduleResolve`
  README.md
Due: none

docs: [api] `packageTargetResolve`
  README.md
  docs/resolution-algorithm.md
  src/lib/resolver.mts
Due: node23, node22, lib

docs: usage example
  README.md
  docs/resolution-algorithm.md
  example.mts
  src/lib/read-package-json.mts
  src/lib/resolver.mts
Due: node23, node22, lib

fix(resolver): [`legacyMainResolve`] synchronous file existence check
  src/lib/resolver.mts
Due: node23, node22, lib

build(pkg): add `exports["./*"]`
  package.json
  src/lib/__snapshots__/node/resolver.snap
  src/lib/__tests__/resolver.spec.mts
Due: node23, node22

build(deps-dev): cleanup dependencies
  .yarnrc.yml
  __fixtures__/tsconfig.json.d.mts
  __tests__/plugins/tsconfig-paths.mts
  build.config.mts
  package.json
  yarn.lock
Due: none

build(deps-dev): bump the commitlint group with 2 updates
  package.json
  yarn.lock
Due: none

docs: add badges for monthly downloads and install size
  README.md
Due: none

fix(workflows): [`ci`] publish auth
  .npmrc
  CHANGELOG.md
  package.json
Due: none

docs: fix node support note
  README.md
Due: none

feat(ts): generic fs methods
  README.md
  src/interfaces/__tests__/read-file.spec-d.mts
  src/interfaces/__tests__/realpath.spec-d.mts
  src/interfaces/__tests__/stat.spec-d.mts
  src/interfaces/read-file.mts
  src/interfaces/realpath.mts
  src/interfaces/stat.mts
Due: none

refactor(ts)!: [`ReadFile`] return string given `encoding`
  README.md
  eslint.config.mjs
  src/interfaces/__tests__/buffer-encoding-map.spec-d.mts
  src/interfaces/__tests__/get-source-options.spec-d.mts
  src/interfaces/__tests__/read-file.spec-d.mts
  src/interfaces/buffer-encoding-map.mts
  src/interfaces/get-source-options.mts
  src/interfaces/index.mts
  src/interfaces/read-file.mts
  src/lib/__tests__/get-source.spec.mts
  src/lib/get-source.mts
  src/lib/read-package-json.mts
  src/types/__tests__/buffer-encoding.spec-d.mts
  src/types/__tests__/file-content.spec-d.mts
  src/types/__tests__/get-source-handler.spec-d.mts
  src/types/buffer-encoding.mts
  src/types/file-content.mts
  src/types/get-source-handler.mts
  src/types/index.mts
Due: node23, node22, lib

refactor(lib)!: [`getSource`] return `FileContent`
  README.md
  src/lib/__tests__/get-source.spec.mts
  src/lib/get-source.mts
Due: node23, node22, lib

refactor(ts): match `this` context to node
  README.md
  src/interfaces/__tests__/is-directory.spec-d.mts
  src/interfaces/__tests__/is-file.spec-d.mts
  src/interfaces/__tests__/read-file.spec-d.mts
  src/interfaces/__tests__/realpath.spec-d.mts
  src/interfaces/__tests__/stat.spec-d.mts
  src/interfaces/is-directory.mts
  src/interfaces/is-file.mts
  src/interfaces/read-file.mts
  src/interfaces/realpath.mts
  src/interfaces/stat.mts
Due: none

refactor(ts)!: pass type parameters to fs methods
  README.md
  src/interfaces/__tests__/read-file.spec-d.mts
  src/interfaces/__tests__/realpath.spec-d.mts
  src/interfaces/__tests__/stat.spec-d.mts
  src/interfaces/read-file.mts
  src/interfaces/realpath.mts
  src/interfaces/stat.mts
Due: none

build(deps-dev): bump msw from 2.12.8 to 2.12.9
  package.json
  src/internal/fs.browser.mts
  yarn.lock
Due: none

build(pkg): minify build files (`*.mjs`)
  package.json
  tsconfig.build.json
  yarn.lock
Due: none

docs: why this package, design goals, sponsors
  README.md
  package.json
  src/lib/resolve-module.mts
Due: node23, node22, lib

docs: quick start, use cases
  .github/infrastructure.yml
  README.md
  example.mts
Due: none

build(pkg): bundle dts files
  package.json
  src/lib/__snapshots__/node/resolver.snap
  src/lib/__tests__/resolver.spec.mts
  yarn.lock
Due: node23, node22

feat(lib)!: [`resolveModule`] support extension rewrite map
  README.md
  package.json
  src/interfaces/__tests__/resolve-module-options.spec-d.mts
  src/interfaces/resolve-module-options.mts
  src/lib/__snapshots__/node/resolve-module.snap
  src/lib/__tests__/resolve-module.spec.mts
  src/lib/resolve-alias.mts
  src/lib/resolve-module.mts
  src/types/__tests__/extension-rewrites.spec-d.mts
  src/types/__tests__/get-new-extension.spec-d.mts
  src/types/change-ext-fn.mts
  src/types/extension-rewrites.mts
  src/types/get-new-extension.mts
  src/types/index.mts
Due: node23, node22, lib

build(pkg): bundle dts files with rollup only
  package.json
  rollup.config.mts
  yarn.lock
Due: none

Path conditions:
  node23: any of: src/, but not: **/*.d.mts, **/__mocks__/**, **/__tests__/**, **/index.mts, **/interfaces/**, **/types/**, src/internal/*.browser.mts
  node22: any of: src/, but not: **/*.d.mts, **/__mocks__/**, **/__tests__/**, **/index.mts, **/interfaces/**, **/types/**, src/internal/*.browser.mts
  internal: any of: src/internal/*.mts, but not: **/*.d.mts, **/__mocks__/**, **/__tests__/**, **/index.mts, **/interfaces/**, **/types/**, src/internal/*.browser.mts
  lib: any of: src/lib/*.mts, but not: **/*.d.mts, **/__mocks__/**, **/__tests__/**, **/index.mts, **/interfaces/**, **/types/**, src/internal/*.browser.mts
