Repository flex-development/mlly: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

build(ts): reorganize `typesVersions`
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

build: cleanup build target settings
  build.config.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

fix(resolve): [`resolveModules`] ignore dynamic import statements with dynamic specifiers
  src/lib/__snapshots__/resolve-modules.functional.snap
  src/lib/__tests__/resolve-modules.functional.spec.ts
  src/lib/resolve-modules.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

feat(interfaces): `CompilerOptionsJson`
  package.json
  src/interfaces/compiler-options-json.ts
  src/interfaces/index.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

feat(lib): `getCompilerOptions`
  .eslintrc.base.cjs
  .eslintrc.cjs
  src/interfaces/options-resolve-alias.ts
  src/lib/__mocks__/get-compiler-options.ts
  src/lib/__tests__/get-compiler-options.spec.ts
  src/lib/__tests__/resolve-alias.functional.spec.ts
  src/lib/get-compiler-options.ts
  src/lib/index.ts
  src/lib/resolve-alias.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

refactor(resolve): [`resolveAliases`] signature
  src/lib/__tests__/resolve-aliases.functional.spec.ts
  src/lib/resolve-aliases.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore(github): add commit scope `internal`
  .commitlintrc.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore(github): add label `scope:internal`
  .github/labels.yml
Due: yarn check:format, yarn check:spelling, yarn check:lint

refactor(internal): add internals
  .vscode/settings.json
  src/constants.ts
  src/internal/constants.ts
  src/internal/index.ts
  src/lib/find-dynamic-imports.ts
  src/lib/find-exports.ts
  src/lib/find-requires.ts
  src/lib/find-static-imports.ts
  src/lib/has-cjs-syntax.ts
  src/lib/has-esm-syntax.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore(ts): enforce `import type` for type-only imports
  src/lib/__tests__/to-data-url.spec.ts
  tsconfig.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

refactor(resolve): [options] allow readonly arrays
  src/interfaces/options-resolve-alias.ts
  src/interfaces/options-resolve.ts
  src/lib/to-bare-specifier.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

fix(internal): `STATIC_IMPORT_REGEX` matches `:` in ternary statements
  src/internal/constants.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

feat(syntax): detect dynamic imports in commonjs
  src/internal/constants.ts
  src/lib/__tests__/has-cjs-syntax.spec.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

refactor(resolve): [options] pass original module specifier to `ext`
  src/interfaces/options-resolve.ts
  src/lib/resolve-module.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

refactor(lib): move `getCompilerOptions` to `internal`
  .eslintrc.cjs
  src/interfaces/index.ts
  src/internal/__mocks__/get-compiler-options.ts
  src/internal/__tests__/get-compiler-options.spec.ts
  src/internal/compiler-options-json.ts
  src/internal/constants.ts
  src/internal/get-compiler-options.ts
  src/internal/index.ts
  src/lib/__tests__/get-compiler-options.spec.ts
  src/lib/__tests__/resolve-alias.functional.spec.ts
  src/lib/__tests__/resolve-aliases.functional.spec.ts
  src/lib/get-compiler-options.ts
  src/lib/index.ts
  src/lib/resolve-alias.ts
  src/lib/resolve-aliases.ts
  vitest.config.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

feat(specifiers): [`toBareSpecifier`] `@types` detection + `types` entry point support
  package.json
  src/lib/__tests__/to-bare-specifier.spec.ts
  src/lib/to-bare-specifier.ts
  vitest-env.d.ts
  vitest.config.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

feat(resolve): [`resolveModule`] `@types` detection
  src/constants.ts
  src/lib/resolve-module.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

refactor(resolve): sort `RESOLVE_EXTENSIONS` according to priority
  src/constants.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

fix(internal): `STATIC_IMPORT_REGEX` matches `import` in module specifiers
  src/internal/constants.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

build(deps-dev): bump deps according to `yarn upgrade-interactive`
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

build(deps-dev): bump @flex-development/mkbuild from 1.0.0-alpha.6 to 1.0.0-alpha.8
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

refactor(specifiers): [`toBareSpecifier`] improve `exports` path search
  src/lib/__tests__/to-bare-specifier.spec.ts
  src/lib/to-bare-specifier.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: merge zsh docs into contributing guide
  CONTRIBUTING.md
  docs/.gitkeep
  docs/ZSH.md
Due: yarn check:format, yarn check:spelling, yarn check:lint

build: remove `src` files from distribution
  package.json
  src/.npmignore
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: reorganize gpr install guide
  README.md
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: init docs site
  .cspell.json
  .dictionary.txt
  .editorconfig
  .env.zsh
  .eslintignore
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  .vercelignore
  .vscode/settings.json
  .yarnrc.yml
  CONTRIBUTING.md
  docs/.gitkeep
  docs/.vitepress/.env.defaults
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.ts
  docs/index.md
  docs/public/favicon.ico
  package.json
  tsconfig.json
  vercel.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

chore: improve vercel integration
  .cspell.json
  .env.zsh
  .eslintignore
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  CONTRIBUTING.md
  docs/.vitepress/.env.defaults
  docs/.vitepress/config.ts
  package.json
  vercel.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

ci(workflows): `preview`
  .github/workflows/preview.yml
  docs/.vitepress/config.ts
  vercel.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: [site] add `robots.txt` generation to postbuild tasks
  docs/.vitepress/config.ts
  docs/.vitepress/templates/robots.txt
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

chore(github): add commit scope `docs`
  .commitlintrc.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore(github): add label `scope:docs`
  .github/labels.yml
Due: yarn check:format, yarn check:spelling, yarn check:lint

perf(docs): [site] improve speed of first search query
  docs/.vitepress/config.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: [site] algolia search integration
  .eslintrc.cjs
  .github/workflows/preview.yml
  docs/.vitepress/config.ts
  package.json
  patches/vitepress+1.0.0-alpha.22.dev.patch
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

chore(docs): scrap `vc dev` usage
  .gitignore
  docs/.vitepress/config.ts
  package.json
  vercel.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

docs: [site] init `/api/`
  .cspell.json
  .dictionary.txt
  .eslintignore
  .eslintrc.base.cjs
  .eslintrc.cjs
  .github/workflows/preview.yml
  .gitignore
  .lintstagedrc.json
  .markdownlint.jsonc
  .prettierignore
  .vscode/settings.json
  README.md
  docs/.vitepress/components/ApiDoc.vue
  docs/.vitepress/composables/use-comments.ts
  docs/.vitepress/config.ts
  docs/.vitepress/theme/config.ts
  docs/.vitepress/theme/index-object.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/markdown-options.ts
  docs/api/index.md
  package.json
  patches/vitepress+1.0.0-alpha.22.dev.patch
  patches/vitepress+1.0.0-alpha.26.dev.patch
  src/lib/detect-syntax.ts
  src/lib/extract-statements.ts
  src/lib/has-cjs-syntax.ts
  src/lib/has-esm-syntax.ts
  src/lib/resolve-alias.ts
  src/lib/resolve-aliases.ts
  src/lib/resolve-module.ts
  src/lib/resolve-modules.ts
  src/lib/to-absolute-specifier.ts
  src/lib/to-bare-specifier.ts
  src/lib/to-data-url.ts
  src/lib/to-relative-specifier.ts
  tsconfig.build.json
  tsconfig.json
  vitepress-env.d.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

docs: [site] fix duplicate meta description
  docs/.vitepress/config.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: [site] prevent tab nabbing
  patches/vitepress+1.0.0-alpha.26.dev.patch
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn dedupe --check

docs: [site] fix canonical url
  docs/.vitepress/composables/use-page-url.ts
  docs/.vitepress/config.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

perf(docs): [site] use exact urls to increase speed
  docs/index.md
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: [site] configure google analytics
  docs/.vitepress/config.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

Path conditions:
  yarn check:format: any of: *
  yarn check:spelling: any of: *
  yarn check:lint: any of: **/*.{cjs,cts,gql,json,jsonc,md,mjs,ts,yml}
  yarn dedupe --check: any of: **/yarn.lock
