Repository flex-development/mlly: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

refactor(utils)!: [`getSource`] enforce absolute module id
  src/interfaces/__tests__/options-get-source.spec-d.ts
  src/interfaces/options-get-source.ts
  src/utils/get-source.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

refactor(utils): schema validation
  src/utils/fill-modules.ts
  src/utils/get-format.ts
  src/utils/get-source.ts
  src/utils/is-absolute-specifier.ts
  src/utils/is-bare-specifier.ts
  src/utils/is-relative-specifier.ts
  src/utils/parse-module-id.ts
  src/utils/parse-subpath.ts
  src/utils/read-package-json.ts
  src/utils/resolve-alias.ts
  src/utils/resolve-module.ts
  src/utils/to-bare-specifier.ts
  src/utils/to-relative-specifier.ts
  src/utils/to-url.ts
  src/utils/validate-assertions.ts
  src/utils/validate-exports.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

style(internal): [`Resolver#resolvePackageTarget`] reformat array error handling
  src/internal/resolver.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

fix(internal): [`Resolver#resolvePackageTarget`] `package.json` url for numeric property key error
  src/internal/resolver.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

feat(utils): [`findSubpath`] support `/index`-less targets
  src/utils/__tests__/find-subpath.spec.ts
  src/utils/find-subpath.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

test(utils): [`toBareSpecifier`] stabilize tests
  .gitignore
  __fixtures__/node_modules/exports-map-2/dist/index.mjs
  __fixtures__/node_modules/exports-map-2/dist/internal/index.mjs
  __fixtures__/node_modules/exports-map-2/dist/lib/index.mjs
  __fixtures__/node_modules/exports-map-2/dist/lib/utils.mjs
  __fixtures__/node_modules/exports-map-2/package.json
  src/utils/__tests__/to-bare-specifier.spec.ts
  src/utils/to-bare-specifier.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

chore: move changelog config to `config` directory
  config/changelog.config.ts
  config/templates/changelog/header.hbs
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

build(deps-dev): bump @flex-development/mkbuild from 1.0.0-alpha.9 to 1.0.0-alpha.13
  build.config.ts
  package.json
  src/utils/__tests__/parse-module-id.spec.ts
  src/utils/__tests__/resolve-alias.spec.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

build(deps-dev): bump typescript from 5.0.0-dev.20221215 to 5.0.0-dev.20230217
  .eslintrc.base.cjs
  .eslintrc.cjs
  .gitattributes
  .github/workflows/ci.yml
  .github/workflows/typescript-canary.yml
  .lintstagedrc.json
  __tests__/ts/v4/tsconfig.build.json
  __tests__/ts/v4/tsconfig.json
  __tests__/ts/v4/tsconfig.typecheck.json
  package.json
  scripts/release.sh
  scripts/typecheck-build.sh
  src/utils/__tests__/parse-data-url.spec.ts
  src/utils/fill-modules.ts
  vitest-env.d.ts
  vitest.config.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

ci(workflows): [`ci`] use `github.event.pull_request.head.sha` for codecov
  .github/workflows/ci.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

build(deps-dev): bump @vitest/coverage-c8 from 0.28.4 to 0.28.5
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

build(deps-dev): bump @vitest/ui from 0.28.4 to 0.28.5
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

build(deps-dev): bump vitest from 0.28.4 to 0.28.5
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

ci(workflows): [`dependabot-auto`] remove `enable-auto-merge` job conditional
  .github/workflows/dependabot-auto.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

build(yarn): bump yarn from 4.0.0-rc.34 to 4.0.0-rc.39
  .yarn/releases/yarn-4.0.0-rc.34.cjs
  .yarn/releases/yarn-4.0.0-rc.39.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check

chore: update config files
  .commitlintrc.json
  .cspell.json
  .dictionary.txt
  .eslintignore
  .eslintrc.base.cjs
  .eslintrc.cjs
  .gitattributes
  .github/.gitconfig
  .github/dependabot.yml
  .github/workflows/integrity.yml
  .github/workflows/publish.yml
  .gitignore
  .lintstagedrc.json
  .markdownlint.jsonc
  .prettierignore
  .prettierrc.json
  .vscode/settings.json
  __tests__/interfaces/index.ts
  __tests__/interfaces/spy.ts
  __tests__/interfaces/testcase-called.ts
  __tests__/interfaces/testcase-fn.ts
  __tests__/interfaces/testcase.ts
  __tests__/setup/chai.ts
  __tests__/setup/index.ts
  __tests__/setup/pf.ts
  __tests__/setup/setup.ts
  __tests__/setup/teardown.ts
  __tests__/ts/v4/tsconfig.json
  __tests__/types/index.ts
  build.config.ts
  config/changelog.config.ts
  package.json
  tsconfig.json
  typings/node/global.d.ts
  typings/node/loader.d.ts
  typings/pretty-format/global.d.ts
  vitest.config.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check

ci(workflows): [`ci`] use `env.GITHUB_SHA` for codecov override commit
  .github/workflows/ci.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci: [@dependabot] fix private registry updates
  .github/dependabot.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

build(deps-dev): remove `@commitlint/types`
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

docs: organize badges
  README.md
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

chore: sync updated config files
  .eslintrc.base.cjs
  .markdownlint.jsonc
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

test: stablize package `exports` / `imports` tests
  __fixtures__/package-exports.ts
  __fixtures__/package-imports.ts
  __tests__/ts/v4/tsconfig.build.json
  __tests__/ts/v4/tsconfig.json
  package.json
  src/internal/__tests__/get-subpaths.spec.ts
  src/internal/__tests__/resolver.spec.ts
  src/utils/__mocks__/lookup-package-scope.ts
  src/utils/__tests__/fill-modules.spec.ts
  src/utils/__tests__/find-subpath.spec.ts
  src/utils/__tests__/parse-subpath.spec.ts
  src/utils/__tests__/resolve-module.spec.ts
  src/utils/__tests__/resolve-modules.spec.ts
  tsconfig.build.json
  tsconfig.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

fix(utils): [`resolveModule`] `@types` resolution
  .commitlintrc.json
  src/utils/__tests__/resolve-module.spec.ts
  src/utils/resolve-module.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

fix(ts): ensure typechecks pass without peer deps installed
  .eslintrc.cjs
  src/interfaces/options-get-format.ts
  src/interfaces/options-get-source.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

chore(github): merge `pre-push` workflow into `commit-msg` workflow
  .husky/commit-msg
  .husky/pre-push
Due: prettier --check, cspell lint --color --no-progress --relative $@

fix(utils): [`findRequires`] array item extraction
  src/utils/__snapshots__/find-requires.snap
  src/utils/__tests__/find-requires.spec.ts
  src/utils/find-requires.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

fix(utils): [`findRequires`] object value extraction
  src/utils/__snapshots__/find-requires.snap
  src/utils/__tests__/find-requires.spec.ts
  src/utils/find-requires.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

fix(utils): [`findRequires`] parameter extraction
  src/utils/__snapshots__/find-requires.snap
  src/utils/__tests__/find-requires.spec.ts
  src/utils/find-requires.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

release: 1.0.0-alpha.12
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

release: 1.0.0-alpha.12 (#160)
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

fix(ts): ensure typechecks pass without peer deps installed
  build.config.ts
  src/interfaces/options-get-format.ts
  src/interfaces/options-get-source.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

release: 1.0.0-alpha.13
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

release: 1.0.0-alpha.13 (#161)
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

chore: sync config files
  .commitlintrc.cts
  .commitlintrc.json
  .cspell.json
  .eslintignore
  .eslintrc.base.cjs
  .github/workflows/ci.yml
  .gitignore
  .husky/commit-msg
  .lintstagedrc.json
  .vscode/settings.json
  __fixtures__/aggregate-error-ponyfill.cjs
  __fixtures__/aggregate-error-ponyfill.ts
  __tests__/ts/v4/tsconfig.json
  __tests__/ts/v4/tsconfig.typecheck.json
  build.config.ts
  config/changelog.config.ts
  loader.mjs
  package.json
  scripts/release.sh
  src/utils/__snapshots__/find-dynamic-imports.snap
  src/utils/__snapshots__/find-exports.snap
  src/utils/__snapshots__/find-requires.snap
  src/utils/__snapshots__/find-static-imports.snap
  src/utils/__snapshots__/resolve-aliases.snap
  src/utils/__tests__/detect-syntax.spec.ts
  src/utils/__tests__/has-cjs-syntax.spec.ts
  tsconfig.cjs.json
  tsconfig.json
  tsconfig.typecheck.json
  typings/conventional-commits-parser/index.d.ts
  typings/node/loader.d.ts
  vitest.config.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

ci(workflows): [`ci`] make jobs dependant on `gitguardian`
  .github/workflows/ci.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`ci`] add `commitlint` job
  .github/workflows/ci.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

build(deps): bump @flex-development/import-regex from 2.0.1 to 2.0.3
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

build(deps): bump @flex-development/export-regex from 1.0.0 to 1.0.2
  package.json
  src/utils/__snapshots__/find-exports.snap
  src/utils/__tests__/find-exports.spec.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

ci(workflows): [`dependabot-auto`] ensure lockfile fix commit meets commit standards
  .github/workflows/dependabot-auto.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

refactor(utils): [`findExports`] sort statements by `start` location
  src/utils/__snapshots__/find-exports.snap
  src/utils/find-exports.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

Path conditions:
  prettier --check: any of: *
  cspell lint --color --no-progress --relative $@: any of: *
  eslint --exit-on-fatal-error: any of: **/*.{cjs,cts,gql,js,json,jsonc,md,mjs,ts,vue,yml}
  vitest typecheck --changed --run: any of: **/*.{cjs,cts,mjs,ts,vue}
  yarn dedupe --check: any of: **/yarn.lock
  vitest --changed --coverage --run: any of: src/**/*.ts
