Repository flex-development/mlly: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

.lintstagedrc.json:

{
  "*": ["yarn check:format", "yarn check:spelling"],
  "**/*.{cjs,cts,gql,json,jsonc,md,mjs,ts,vue,yml}": ["yarn check:lint"],
  "**/yarn.lock": "yarn dedupe --check"
}

docs: [site] add google site verification
  docs/.vitepress/config.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: [site] add initial front-end checklist
  docs/public/front-end-checklist.pdf
Due: yarn check:format, yarn check:spelling

build(deps-dev): bump deps according to `yarn upgrade-interactive`
  .eslintrc.base.cjs
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

build(docs): use flex-development/docast@48367224ce9b9aa804d872071fc7e6fc6a2f38b3
  docs/.vitepress/composables/use-comments.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

build(docs): [site] use flex-development/docast@48367224ce9b9aa804d872071fc7e6fc6a2f38b3
  docs/.vitepress/composables/use-comments.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

docs: [site]: add `/api/constants`
  docs/.vitepress/composables/use-comments.ts
  docs/.vitepress/config.ts
  docs/.vitepress/theme/comments/compiler.ts
  docs/api/constants.md
Due: yarn check:format, yarn check:spelling, yarn check:lint

refactor(docs): [site] comments compilation
  .eslintrc.base.cjs
  .eslintrc.cjs
  .markdownlint.jsonc
  docs/.vitepress/components/ApiDoc.vue
  docs/.vitepress/components/Doc.vue
  docs/.vitepress/composables/use-comments.ts
  docs/.vitepress/config.ts
  docs/.vitepress/theme/comments/compiler-unified.ts
  docs/.vitepress/theme/comments/compiler.ts
  docs/.vitepress/theme/comments/markdown-renderer.ts
  docs/.vitepress/theme/comments/plugin.ts
  docs/.vitepress/theme/config.ts
  docs/.vitepress/theme/documentation.ts
  docs/.vitepress/theme/index.ts
  docs/api/index.md
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: [site] add `/api/types`
  docs/.vitepress/composables/use-comments.ts
  docs/.vitepress/config.ts
  docs/.vitepress/theme/comments/compiler.ts
  docs/api/types.md
  src/types/declaration.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: [site] add `/api/interfaces`
  docs/.vitepress/composables/use-comments.ts
  docs/.vitepress/config.ts
  docs/.vitepress/theme/comments/compiler.ts
  docs/api/interfaces.md
  src/interfaces/import-dynamic.ts
  src/interfaces/options-resolve.ts
  src/interfaces/statement.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

build(deps-dev): bump deps according to `yarn upgrade-interactive`
  package.json
  patches/vitepress+1.0.0-alpha.27.dev.patch
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

build(docs): [site] use flex-development/docast@dd4b6c3b2d4e770df99f3a2b90032f228dcd76a8
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn dedupe --check

chore: update editorconfig properties
  .editorconfig
  docs/api/constants.md
  docs/api/index.md
  docs/api/interfaces.md
  docs/api/types.md
Due: yarn check:format, yarn check:spelling, yarn check:lint

fix(docs): [site] sitemap urls
  docs/.vitepress/config.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

build: require node `>=14.16`
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: [site] add esm only warning to install guide
  docs/index.md
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: [site]: update `/api/constants` intro
  docs/api/constants.md
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: [site]: update `/api/` title and intro
  docs/api/index.md
Due: yarn check:format, yarn check:spelling, yarn check:lint

ci(workflows): ensure docs preview is deployed with all `src` updates
  .github/workflows/preview.yml
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: [site]: resolve `@link`
  .dictionary.txt
  .vscode/settings.json
  docs/.vitepress/components/Doc.vue
  docs/.vitepress/composables/use-comments.ts
  docs/.vitepress/theme/comments/compiler.ts
  docs/.vitepress/theme/comments/link-replacements.json
  docs/.vitepress/theme/markdown-options.ts
  docs/api/constants.md
  docs/api/types.md
  package.json
  src/lib/resolve-module.ts
  src/lib/to-data-url.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

docs: [`hasESMSyntax`] fix typo in `@return` description
  src/lib/has-esm-syntax.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

fix(tests): [`findDynamicImports`] dynamic specifier test
  src/lib/__snapshots__/find-dynamic-imports.snap
  src/lib/__tests__/find-dynamic-imports.spec.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: temporarily remove `detectSyntax` example
  src/lib/detect-syntax.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: update descriptions and reference links
  docs/api/index.md
  src/interfaces/options-resolve-alias.ts
  src/interfaces/options-resolve.ts
  src/interfaces/statement-export.ts
  src/lib/extract-statements.ts
  src/lib/find-dynamic-imports.ts
  src/lib/find-exports.ts
  src/lib/find-requires.ts
  src/lib/find-static-imports.ts
  src/lib/resolve-alias.ts
  src/lib/resolve-aliases.ts
  src/lib/resolve-module.ts
  src/lib/resolve-modules.ts
  src/lib/to-absolute-specifier.ts
  src/lib/to-bare-specifier.ts
  src/lib/to-data-url.ts
  src/lib/to-relative-specifier.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore: add empty changelog
  CHANGELOG.md
Due: yarn check:format, yarn check:spelling, yarn check:lint

ci(workflows): deploy docs to production on github release
  .github/workflows/publish.yml
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: [site] move search indexing to `buildEnd` hook
  docs/.vitepress/config.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: [site] specify text directionality
  docs/.vitepress/config.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: [site] update front-end checklist
  docs/public/front-end-checklist.pdf
Due: yarn check:format, yarn check:spelling

release: 1.0.0-alpha.1
  CHANGELOG.md
  package.json
  scripts/release.sh
  tsconfig.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.1 (#9)
  CHANGELOG.md
  package.json
  scripts/release.sh
  tsconfig.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

ci(workflows): fix production docs deployment
  .github/workflows/publish.yml
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.2
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.2 (#10)
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

build(deps-dev): bump @flex-development/mkbuild from 1.0.0-alpha.8 to 1.0.0-alpha.9
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

build(docs): [site] use flex-development/docast-parse@27c73c7c03df4d92585c538c1f8214886b1fd0a9
  docs/.vitepress/composables/use-comments.ts
  docs/.vitepress/theme/comments/compiler.ts
  docs/.vitepress/theme/comments/link-replacements.json
  package.json
  src/interfaces/import-dynamic.ts
  src/interfaces/import-static.ts
  src/interfaces/options-resolve-alias.ts
  src/interfaces/options-resolve.ts
  src/interfaces/statement-export.ts
  src/interfaces/statement-import.ts
  src/interfaces/statement-require.ts
  src/interfaces/statement.ts
  src/lib/detect-syntax.ts
  src/lib/extract-statements.ts
  src/lib/find-dynamic-imports.ts
  src/lib/find-exports.ts
  src/lib/find-requires.ts
  src/lib/find-static-imports.ts
  src/lib/resolve-alias.ts
  src/lib/resolve-aliases.ts
  src/lib/resolve-module.ts
  src/lib/resolve-modules.ts
  src/lib/to-absolute-specifier.ts
  src/lib/to-bare-specifier.ts
  src/lib/to-data-url.ts
  src/lib/to-relative-specifier.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

chore(pkg): add keywords `ecmascript-modules` and `esmodules`
  .dictionary.txt
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

build(deps-dev): add @flex-development/docast
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

build(deps): replace upath with @flex-development/pathe
  .dictionary.txt
  .github/workflows/ci.yml
  __mocks__/@flex-development/pathe.ts
  package.json
  src/internal/get-compiler-options.ts
  src/lib/__snapshots__/resolve-modules.functional.snap
  src/lib/__tests__/has-esm-syntax.spec.ts
  src/lib/__tests__/resolve-alias.functional.spec.ts
  src/lib/__tests__/resolve-modules.functional.spec.ts
  src/lib/resolve-alias.ts
  src/lib/resolve-aliases.ts
  src/lib/resolve-module.ts
  src/lib/resolve-modules.ts
  src/lib/to-absolute-specifier.ts
  src/lib/to-bare-specifier.ts
  src/lib/to-relative-specifier.ts
  vercel.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

refactor(ts): enforce `exactOptionalPropertyTypes`
  src/interfaces/options-resolve-alias.ts
  src/interfaces/options-resolve.ts
  tsconfig.json
  typings/conventional-commits-parser/index.d.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

build(deps): add @flex-development/tsconfig-types
  package.json
  src/internal/compiler-options-json.ts
  src/internal/get-compiler-options.ts
  src/internal/index.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check
