Repository flex-development/mlly: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

release: 1.0.0-alpha.14
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

release: 1.0.0-alpha.14 (#178)
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

test(ts): cleanup base tsconfig file
  __tests__/ts/v4/tsconfig.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): add `auto-merge`
  .github/workflows/auto-merge.yml
  .github/workflows/dependabot-auto.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

fix(utils): [`toBareSpecifier`] remove `@types/` prefix
  src/utils/__tests__/to-bare-specifier.spec.ts
  src/utils/to-bare-specifier.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

release: 1.0.0-alpha.15
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

release: 1.0.0-alpha.15 (#181)
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`ci`] add `pkg-size-report` step to `build` job
  .github/workflows/ci.yml
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

docs(pkg): set `homepage` to https://mlly.vercel.app
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`ci`] add `pkg-size-report`
  .dictionary.txt
  .github/workflows/pkg-size-report.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`pkg-size-report`] allow @dependabot pull requests
  .github/workflows/pkg-size-report.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`pkg-size-report`] add missing `yarn` step
  .github/workflows/pkg-size-report.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`pkg-size-report`] set report mode to `head-only`
  .github/workflows/pkg-size-report.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`pkg-size-report`] fix `build-command`
  .github/workflows/pkg-size-report.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): remove `pkg-size-report`
  .github/workflows/pkg-size-report.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

docs(workflows): update reference links
  .github/workflows/add-to-project.yml
  .github/workflows/approve-pr.yml
  .github/workflows/auto-merge.yml
  .github/workflows/dependabot-auto.yml
  .github/workflows/integrity.yml
  .github/workflows/label-linked-issues.yml
  .github/workflows/lock-inactive-threads.yml
  .github/workflows/no-response-handler.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/typescript-canary.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`ci`] add `github.run_number` check to `commitlint` job
  .github/workflows/ci.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`ci`] add `lcov.info` file check to `codecov` job
  .github/workflows/ci.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): add `infrastructure`
  .dictionary.txt
  .github/infrastructure.yml
  .github/labels.yml
  .github/workflows/infrastructure.yml
  .github/workflows/labels.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

build(nvm)!: require `>=16.20.0`
  .codecov.yml
  .github/infrastructure.yml
  .github/workflows/ci.yml
  __tests__/ts/v4/tsconfig.build.json
  __tests__/ts/v4/tsconfig.json
  __tests__/ts/v4/tsconfig.typecheck.json
  package.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.typecheck.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

ci(workflows): add `cache-cleanup`
  .github/workflows/cache-cleanup.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`approve-pr`] remove `dependabot-metadata` condition
  .github/workflows/approve-pr.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci: [@dependabot] configure grouped version updates
  .dictionary.txt
  .github/dependabot.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

feat(utils): `isDirectory`, `isFile`
  docs/.vitepress/theme/comments/link-replacements.json
  src/internal/resolver.ts
  src/utils/__tests__/is-directory.spec.ts
  src/utils/__tests__/is-file.spec.ts
  src/utils/index.ts
  src/utils/is-directory.ts
  src/utils/is-file.ts
  src/utils/read-package-json.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

chore: update dev and test environments
  .codecov.yml
  .cspell.json
  .dictionary.txt
  .eslintrc.base.cjs
  .github/dependabot.yml
  .github/infrastructure.yml
  .github/workflows/ci.yml
  .github/workflows/typescript-canary.yml
  .nvmrc
  .prettierignore
  .prettierrc.json
  .vscode/settings.json
  __tests__/interfaces/mock.ts
  __tests__/interfaces/spy.ts
  __tests__/reporters/notifier.ts
  __tests__/setup/chai.ts
  __tests__/ts/v4/tsconfig.build.json
  __tests__/ts/v4/tsconfig.json
  __tests__/ts/v4/tsconfig.typecheck.json
  build.config.ts
  docs/.vitepress/config.ts
  docs/.vitepress/theme/comments/compiler.ts
  docs/.vitepress/theme/config.ts
  docs/.vitepress/theme/index.ts
  package.json
  patches/vitepress+1.0.0-alpha.34.dev.patch
  src/internal/__tests__/dequote.spec.ts
  src/internal/__tests__/format-type-map.spec.ts
  src/internal/dequote.ts
  src/internal/get-specifier-kind.ts
  src/utils/find-dynamic-imports.ts
  src/utils/find-requires.ts
  tsconfig.build.json
  typings/@faker-js/faker/global.d.ts
  typings/@types/node/http2.d.ts
  vitest.config.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, vitest --changed --coverage --run

chore: analyze types distribution
  .attw.json
  .dictionary.txt
  .eslintignore
  .github/workflows/ci.yml
  package.json
  scripts/release.sh
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

chore: eslint-plugin-import@2.28.0 prep
  src/utils/validate-assertions.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, vitest --changed --coverage --run

build(deps): bump @flex-development/errnode from 1.5.0 to 2.0.0
  .eslintrc.base.cjs
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

build(deps-dev): downgrade vue-tsc from 1.8.8 to 1.7.8
  .github/dependabot.yml
  .vscode/settings.json
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

docs: [site] use vitepress sitemap generator
  .github/dependabot.yml
  .markdownlint.jsonc
  docs/.vitepress/config.ts
  package.json
  patches/vitepress+1.0.0-beta.7.dev.patch
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check

docs: [site] use `themeConfig.search`
  docs/.vitepress/config.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

docs: [site] remove duplicate algolia preconnect link
  docs/.vitepress/config.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

docs: [site] configure vercel web analytics
  docs/.vitepress/config.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

release: 1.0.0-alpha.16
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

release: 1.0.0-alpha.16 (#395)
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

build: ensure resolved source map url is absolute
  build.config.ts
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

build(deps): bump @flex-development/tutils from 6.0.0-alpha.17 to 6.0.0-alpha.18
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

Path conditions:
  prettier --check: any of: *
  cspell lint --color --no-progress --relative $@: any of: *
  eslint --exit-on-fatal-error: any of: **/*.{cjs,cts,gql,js,json,json5,jsonc,md,mjs,mts,ts,vue,yml}
  vitest typecheck --changed --run: any of: **/*.{cts,mts,ts,vue}
  yarn dedupe --check: any of: **/yarn.lock
  vitest --changed --coverage --run: any of: src/**/*.ts
